
@{
    ViewBag.Title = "Administrar Usuarios";
}
<script>
    $(document).ready(() => {
        ConsultarUsuarios();
    });

    function ConsultarUsuarios() {
        _peticionAjax(URL_SERVICE + URI_SERVICE.ObtenerUsuarios, VerbosREST.POST,
            JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion }),
            true, response => {
                var columns = [
                    { data: 'IdUsuario', title: 'Id. Usuario' },
                    { data: 'Nombres', title: 'Nombres' },
                    { data: 'Apellidos', title: 'Apellidos' },
                    { data: 'Direccion', title: 'Dirección' },
                    { data: 'Telefono', title: 'Teléfono' },
                    //{ data: 'IdCiudadDomicilio' , title:'CiudadDomicilio'},
                    { data: 'IdTipoIdentificacion', title: 'Tipo Identificación' },
                    { data: 'NumeroIdentificacion', title: 'Nro. Identificación' },
                    //{ data: 'IdPaisOrigen' , title:''},
                    //{ data: 'Password' , title:''},
                    { data: 'FechaUltimoInicioSesion', title: 'Fec. Últ. Sesión' },
                    //{ data: 'FechaCreacion' , title:''},
                    //{ data: 'IdUsuarioCreacion' , title:''},
                    //{ data: 'FechaModificacion' , title:''},
                    //{ data: 'IdUsuarioModificacion' , title:''},
                    //{ data: 'IdRol' , title:''},
                    { data: 'Activo', title: 'Activo' },
                    //{ data: 'Foto' , title:''},
                    {
                        data: null, render: function (data, type, full, meta) {
                            return '<a onclick="window.location.href = \'../Usuarios/Administrar?iu=' + full.IdUsuario + '\';"><span class="fa fa-edit"></span></a>';
                        }
                    },
                    //{
                    //    data: null, render: function (data, type, full, meta) {
                    //        return '<a onclick="EliminarRx(\'' + full.IdUsuario + '\');"><span class="fa fa-trash"></span></a>';
                    //    }
                    //}
                ];

                $("#divTblUsuarios").empty();
                $("#divTblUsuarios").append('<table id="tblUsuarios" style="width:100%"></table>');
                $('#tblUsuarios').DataTable({
                    data: response.data,
                    columns: columns,
                    language: _language_options_table,
                    //
                    dom: 'Bfrtip',
                    buttons: [
                        //{ extend: 'copy', className: 'btn-info' },
                        //{ extend: 'csv', className: 'btn-info' },
                        //{ extend: 'excel', className: 'btn-info', title: 'XLS-File' },
                        //{ extend: 'pdf', className: 'btn-info', title: $('title').text() },
                        //{ extend: 'print', className: 'btn-info' }
                    ]
                });
            });
    }

    function AbrirModalCrearRx() {
        _resetGenericModal();

        _appendToHeaderGeneriModal('<label>Crear Usuario</label>');

        _appendToBodyGeneriModal('<p>Nombres</p>');
        _appendToBodyGeneriModal('<input id="Nombres" type="text" class="form-control"/>');
        _appendToBodyGeneriModal('<p>Apellidos</p>');
        _appendToBodyGeneriModal('<input id="Apellidos" type="text" class="form-control"/>');
        _appendToBodyGeneriModal('<p>Dirección</p>');
        _appendToBodyGeneriModal('<input id="Direccion" type="text" class="form-control"/>');
        _appendToBodyGeneriModal('<p>Teléfono</p>');
        _appendToBodyGeneriModal('<input id="Telefono" type="text" class="form-control"/>');
        _appendToBodyGeneriModal('<p>Tipo Identificación</p>');
        _appendToBodyGeneriModal('<select id="IdTipoIdentificacion" class="form-control"></select>');
        _loadSelectTiposIdentificacion($("#IdTipoIdentificacion"));
        _appendToBodyGeneriModal('<p>Número Identificación</p>');
        _appendToBodyGeneriModal('<input id="NumeroIdentificacion" type="text" class="form-control"/>');
        _appendToBodyGeneriModal('<p>Departamento Domicilio</p>');
        _appendToBodyGeneriModal('<select id="IdDepartamentoDomicilio" class="form-control"></select>');
        _loadSelectDepartamentos($("#IdDepartamentoDomicilio"), '57');
        $("#IdDepartamentoDomicilio").change(() => { _loadSelectCiudades($("#IdCiudadDomicilio"), $("#IdDepartamentoDomicilio").val()) });
        _appendToBodyGeneriModal('<p>Ciudad Domicilio</p>');
        _appendToBodyGeneriModal('<select id="IdCiudadDomicilio" class="form-control"><option value="">Seleccione...</option></select>');
        _appendToBodyGeneriModal('<p>País Origen</p>');
        _appendToBodyGeneriModal('<select id="IdPaisOrigen" class="form-control"></select>');
        _loadSelectPaises($("#IdPaisOrigen"));
        _appendToBodyGeneriModal('<p>Rol</p>');
        _appendToBodyGeneriModal('<select id="IdRol" class="form-control"></select>');
        _loadSelectRoles($('#IdRol'));
        _appendToBodyGeneriModal('<p>Email</p>');
        _appendToBodyGeneriModal('<input id="Email" type="email" class="form-control"/>');
        _appendToBodyGeneriModal('<p>Fecha de Nacimiento</p>');
        _appendToBodyGeneriModal('<input id="FechaNacimiento" type="text" class="form-control"/>');
        $("#FechaNacimiento").datetimepicker({
            format: "D/M/YYYY"
        });

        _appendToFooterGeneriModal('<button class="button" id="btnCrearUsuario" return false;">Crear</button>');
        $("#btnCrearUsuario").click(() => {
            let resVal = ValidarCamposCreacion();

            if (resVal === '') {
                let usuario = {
                    Nombres: $('#Nombres').val(),
                    Apellidos: $('#Apellidos').val(),
                    Direccion: $('#Direccion').val(),
                    Telefono: $('#Telefono').val(),
                    IdTipoIdentificacion: $('#IdTipoIdentificacion').val(),
                    NumeroIdentificacion: $('#NumeroIdentificacion').val(),
                    IdCiudadDomicilio: $('#IdCiudadDomicilio').val(),
                    IdPaisOrigen: $('#IdPaisOrigen').val(),
                    IdRol: $('#IdRol').val(),
                    Email: $('#Email').val(),
                    FechaNacimientoString: $('#FechaNacimiento').val(),
                    IdUsuarioCreacion: UsuarioSesion.IdUsuario
                };
                _peticionAjax(URL_SERVICE + URI_SERVICE.CrearUsuario, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, usuario }), true,
                    response => {
                        window.location.href = '../Usuarios/Administrar?iu=' + response.data;
                    });
            }
            else {
                swal({
                    text: resVal,
                    title: swalTitle,
                    icon: "error"
                });
            }
        });
        _openGenericModal();
    }

    function ValidarCamposCreacion() {
        let resVal = "";
        
        if ($("#Nombres").val() == '') resVal = "El Nombre es Requerido.";
        else if ($("#Apellidos").val() == '') resVal = "El Apellido es Requerido.";
        else if ($("#Direccion").val() == '') resVal = "La Dirección es Requerida.";
        else if ($("#Telefono").val() == '') resVal = "El Teléfono es Requerido.";
        else if ($("#IdCiudadDomicilio").val() == '') resVal = "La Ciudad de Domicilio es Requerida.";
        else if ($("#IdTipoIdentificacion").val() == '') resVal = "El Tipo de Identificación es Requerido.";
        else if ($("#NumeroIdentificacion").val() == '') resVal = "El Número de Identificación es Requerido.";
        else if ($("#IdPaisOrigen").val() == '') resVal = "El País de origen es Requerido.";
        else if ($("#IdRol").val() == '') resVal = "El Rol es Requerido.";
        else if ($("#Email").val() == '') resVal = "El E-Mail es Requerido.";

        return resVal;
    }
</script>
<h3 class="text-center" id="title">ADMINISTRACIÓN DE USUARIOS</h3>
<div style="padding:10px">
    <div id="divTblUsuarios"></div>
    <br />
    <button class="button" onclick="AbrirModalCrearRx(); return false;">Crear Nuevo Usuario</button>
</div>

