
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}
<div class="bigContainer">
    <div class="smallContainer">
        <img src="../images/logo.png" height="200" width="350"/>        
        <input type="password" placeholder="Nueva Contraseña" />        
        <input type="password" placeholder="Repita Nueva Contraseña" />        
        <button>Actualizar</button>        
    </div>
</div>