
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}
<div class="bigContainer">
    <div class="smallContainer">
        <img src="../images/logo.png" height="200" width="350"/>
        <input type="text" placeholder="Número Identificación" />        
        <input type="email" placeholder="Correo Electrónico" />        
        <button>Recuperar Contraseña</button>
    </div>
</div>