
@{
    ViewBag.Title = "Ciudades";
}
<script>
    var IdDepartamento = -1;

    $(document).ready(() => {
        IdDepartamento = window.location.href.split('=')[1];
        ConsultarCiudades();
    });

    function ConsultarCiudades() {
        _peticionAjax(URL_SERVICE + URI_SERVICE.ObtenerCiudades, VerbosREST.POST,
            JSON.stringify({
                sessionToken: UsuarioSesion.tokenSesion, idDepartamento: IdDepartamento
            }),
            true, response => {

                var columns = [
                    { data: "IdCiudad", title: 'Id. Ciudad' },
                    { data: "Ciudad", title: 'Ciudad' },
                    { data: "Activo", title: 'Activo' },
                    {
                        data: null, render: function (data, type, full, meta) {
                            return '<a onclick="AbrirModalEditarRx(\'' + full.IdCiudad + '\');"><span class="fa fa-edit"></span></a>';
                        }
                    },
                    {
                        data: null, render: function (data, type, full, meta) {
                            return '<a onclick="EliminarRx(\'' + full.IdCiudad + '\');"><span class="fa fa-trash"></span></a>';
                        }
                    }
                ];

                $("#divTblCiudads").empty();
                $("#divTblCiudads").append('<table id="tblCiudads" style="width:100%"></table>');
                $('#tblCiudads').DataTable({
                    data: response.data,
                    columns: columns,
                    language: _language_options_table,
                    //
                    dom: 'Bfrtip',
                    buttons: [
                        //{ extend: 'copy', className: 'btn-info' },
                        //{ extend: 'csv', className: 'btn-info' },
                        //{ extend: 'excel', className: 'btn-info', title: 'XLS-File' },
                        //{ extend: 'pdf', className: 'btn-info', title: $('title').text() },
                        //{ extend: 'print', className: 'btn-info' }
                    ]
                });
            });
    }

    function AbrirModalCrearRx() {
        _resetGenericModal();

        $("#genericModalHeader").append('<label>Crear Ciudad</label>');
        $("#genericModalBody").append('<p>Id Ciudad</p>');
        $("#genericModalBody").append('<input id="IdCiudad" type="numeric" class="form-control" />');
        $("#genericModalBody").append('<p>Ciudad</p>');
        $("#genericModalBody").append('<input id="Ciudad" type="text" class="form-control" />');
        $("#genericModalFooter").append('<button class="button" id="btnCrearCiudad" return false;">Crear</button>');
        $("#btnCrearCiudad").click(() => {
            if ($("#IdCiudad").val() != '' && $("#Ciudad").val() != '' ) {
                _peticionAjax(URL_SERVICE + URI_SERVICE.CrearCiudad, VerbosREST.POST,
                    JSON.stringify({
                        sessionToken: UsuarioSesion.tokenSesion,
                        ciudad: {
                            IdCiudad: $("#IdCiudad").val(),
                            Ciudad: $("#Ciudad").val(),
                            IdDepartamento: IdDepartamento,
                            IdUsuarioCreacion: UsuarioSesion.IdUsuario,
                            Activo: true
                        }
                    }),
                    true, response => {
                        ConsultarCiudades();
                        _closeGenericModal()
                    });
            }
            else {
                swal({
                    text: 'Por favor ingresar el IdCiudad y el Ciudad para crear.',
                    title: swalTitle,
                    icon: "error"
                });
            }
        });
        _openGenericModal();
    }

    function AbrirModalEditarRx(IdCiudad) {
        var rx = $('#tblCiudads').DataTable().data().filter(f => f.IdCiudad == IdCiudad)[0];

        _resetGenericModal();

        $("#genericModalHeader").append('<label>Editar Ciudad</label>');
        $("#genericModalBody").append('<p>Id Ciudad</p>');
        $("#genericModalBody").append('<input id="IdCiudad" value="' + rx.IdCiudad + '" type="text" class="form-control" disabled />');
        $("#genericModalBody").append('<p>Ciudad</p>');
        $("#genericModalBody").append('<input id="Ciudad" value="' + rx.Ciudad + '" type="text" class="form-control" />');
        $("#genericModalBody").append('<label>Activo</label><input id="chkActivo" type="checkbox" ' + (rx.Activo == true ? 'checked' : '') + ' />');
        $("#genericModalFooter").append('<button class="button" id="btnActualizarCiudad" return false;">Actualizar</button>');
        $("#btnActualizarCiudad").click(() => {
            if ($("#Ciudad").val() != '') {
                _peticionAjax(URL_SERVICE + URI_SERVICE.ActualizarCiudad, VerbosREST.POST,
                    JSON.stringify({
                        sessionToken: UsuarioSesion.tokenSesion,
                        ciudad: {
                            IdCiudad: $("#IdCiudad").val(),
                            Ciudad: $("#Ciudad").val(),
                            IdUsuarioModificacion: UsuarioSesion.IdUsuario,
                            Activo: $("#chkActivo").is(':checked')
                        },
                        idUsuarioModificacion: UsuarioSesion.IdUsuario
                    }),
                    true, response => {
                        ConsultarCiudades();
                        _closeGenericModal();
                    });
            }
            else {
                swal({
                    text: 'Por favor ingresar el Ciudad para actualizar.',
                    title: swalTitle,
                    icon: "error"
                });
            }
        });
        _openGenericModal();
    }

    function EliminarRx(IdCiudad) {
        _peticionAjax(URL_SERVICE + URI_SERVICE.EliminarCiudad, VerbosREST.POST,
            JSON.stringify({
                sessionToken: UsuarioSesion.tokenSesion,
                idCiudad: IdCiudad,
                idUsuarioModificacion: UsuarioSesion.IdUsuario
            }),
            true, response => {
                ConsultarCiudades();
            });
    }
</script>
<h3 class="text-center" id="title">PAÍSES</h3>
<div style="padding:10px">
    <div id="divTblCiudads" style="width:100%"></div>
    <br />
    <button class="button" onclick="AbrirModalCrearRx(); return false;">Crear Nuevo Ciudad</button>
</div> 