
@{
    ViewBag.Title = "MarcasEquipos";
}
<script>
    $(document).ready(() => {
        ConsultarMarcasEquipos();
    });

    function ConsultarMarcasEquipos() {
        _peticionAjax(URL_SERVICE + URI_SERVICE.ObtenerMarcasEquipos, VerbosREST.POST,
            JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion }),
            true, response => {

                var columns = [
                    { data: "IdMarcaEquipo", title: 'Id. Marca Equipo' },
                    { data: "MarcaEquipo", title: 'Marca Equipo' },
                    { data: "Activo", title: 'Activo' },
                    {
                        data: null, render: function (data, type, full, meta) {
                            return '<a onclick="AbrirModalEditarRx(\'' + full.IdMarcaEquipo + '\');"><span class="fa fa-edit"></span></a>';
                        }
                    },
                    {
                        data: null, render: function (data, type, full, meta) {
                            return '<a onclick="EliminarRx(\'' + full.IdMarcaEquipo + '\');"><span class="fa fa-trash"></span></a>';
                        }
                    }
                ];

                $("#divTblMarcasEquipos").empty();
                $("#divTblMarcasEquipos").append('<table id="tblMarcasEquipos" style="width:100%"></table>');
                $('#tblMarcasEquipos').DataTable({
                    data: response.data,
                    columns: columns,
                    language: _language_options_table,
                    //
                    dom: 'Bfrtip',
                    buttons: [
                        //{ extend: 'copy', className: 'btn-info' },
                        //{ extend: 'csv', className: 'btn-info' },
                        //{ extend: 'excel', className: 'btn-info', title: 'XLS-File' },
                        //{ extend: 'pdf', className: 'btn-info', title: $('title').text() },
                        //{ extend: 'print', className: 'btn-info' }
                    ]
                });
            });
    }

    function AbrirModalCrearRx() {
        _resetGenericModal();

        $("#genericModalHeader").append('<label>Crear Marca Equipo</label>');
        $("#genericModalBody").append('<p>Marca Equipo</p>');
        $("#genericModalBody").append('<input id="MarcaEquipo" type="text" class="form-control" />');
        $("#genericModalFooter").append('<button class="button" id="btnCrearMarcaEquipo" return false;">Crear</button>');
        $("#btnCrearMarcaEquipo").click(() => {
            if ($("#MarcaEquipo").val() != '') {
                _peticionAjax(URL_SERVICE + URI_SERVICE.CrearMarcaEquipos, VerbosREST.POST,
                    JSON.stringify({
                        sessionToken: UsuarioSesion.tokenSesion,
                        marcaEquipo: {
                            IdMarcaEquipo: $("#IdMarcaEquipo").val(),
                            MarcaEquipo: $("#MarcaEquipo").val(),
                            IdUsuarioCreacion: UsuarioSesion.IdUsuario,
                            Activo: true
                        }
                    }),
                    true, response => {
                        ConsultarMarcasEquipos();
                        _closeGenericModal()
                    });
            }
            else {
                swal({
                    text: 'Por favor ingresar la Marca para crear.',
                    title: swalTitle,
                    icon: "error"
                });
            }
        });
        _openGenericModal();
    }

    function AbrirModalEditarRx(IdMarcaEquipo) {
        var rx = $('#tblMarcasEquipos').DataTable().data().filter(f => f.IdMarcaEquipo == IdMarcaEquipo)[0];

        _resetGenericModal();

        $("#genericModalHeader").append('<label>Editar Marca Equipo</label>');
        $("#genericModalBody").append('<p>Id. Marca Equipo</p>');
        $("#genericModalBody").append('<input id="IdMarcaEquipo" type="text" class="form-control" disabled />');
        $("#IdMarcaEquipo").val(rx.IdMarcaEquipo);
        $("#genericModalBody").append('<p>Marca Equipo</p>');
        $("#genericModalBody").append('<input id="MarcaEquipo" type="text" class="form-control" />');
        $("#MarcaEquipo").val(rx.MarcaEquipo);
        $("#genericModalBody").append('<label>Activo</label><input id="chkActivo" type="checkbox" ' + (rx.Activo == true ? 'checked' : '') + ' />');
        $("#genericModalFooter").append('<button class="button" id="btnActualizarMarcaEquipo" return false;">Actualizar</button>');
        $("#btnActualizarMarcaEquipo").click(() => {            
            if ($("#MarcaEquipo").val() != '') {
                _peticionAjax(URL_SERVICE + URI_SERVICE.ActualizarMarcaEquipos, VerbosREST.POST,
                    JSON.stringify({
                        sessionToken: UsuarioSesion.tokenSesion,
                        marcaEquipo: {
                            IdMarcaEquipo: $("#IdMarcaEquipo").val(),
                            MarcaEquipo: $("#MarcaEquipo").val(),
                            IdUsuarioModificacion: UsuarioSesion.IdUsuario,
                            Activo: $("#chkActivo").is(':checked')
                        },
                        idUsuarioModificacion: UsuarioSesion.IdUsuario
                    }),
                    true, response => {
                        ConsultarMarcasEquipos();
                        _closeGenericModal();
                    });
            }
            else {
                swal({
                    text: 'Por favor ingresar la Marca para actualizar.',
                    title: swalTitle,
                    icon: "error"
                });
            }
        });
        _openGenericModal();
    }

    function EliminarRx(IdMarcaEquipo) {
        _peticionAjax(URL_SERVICE + URI_SERVICE.EliminarMarcaEquipos, VerbosREST.POST,
            JSON.stringify({
                sessionToken: UsuarioSesion.tokenSesion,
                idMarcaEquipo: IdMarcaEquipo,
                idUsuarioModificacion: UsuarioSesion.IdUsuario
            }),
            true, response => {
                ConsultarMarcasEquipos();
            });
    }
</script>
<h3 class="text-center" id="title">MARCAS EQUIPOS</h3>
<div style="padding:10px">
    <div id="divTblMarcasEquipos" style="width:100%"></div>
    <br />
    <button class="button" onclick="AbrirModalCrearRx(); return false;">Crear Nueva Marca</button>
</div> 