.
@{
    ViewBag.Title = "Parametros";
    
}
<script>
    $(document).ready(() => {
        _peticionAjax(URL_SERVICE + URI_SERVICE.ObtenerParametros, VerbosREST.POST,
            JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion }),
            true, response => {          

                var columns = [
                    { data: "IdParametro", title: 'Id. Parámetro' },
                    { data: "NombreParametro", title: 'Nombre Parámetro' },
                    { data: "DescripcionParametro", title: 'Descripción' },
                    { data: "TipoDato", title: 'Tipo Dato' },
                    { data: "ValorParametro", title: 'Valor Parametro' },
                    {
                        data: null, render: function (data, type, full, meta) {
                            return '<a><span class="fa fa-edit fa-2x"></span></a>';
                        }
                    }
                ];

                $('#tblParametros').DataTable({
                    data: response.data,
                    columns: columns,
                    language: _language_options_table,
                    //
                    dom: 'Bfrtip',
                    buttons: [
                        //{ extend: 'copy', className: 'btn-info' },
                        //{ extend: 'csv', className: 'btn-info' },
                        //{ extend: 'excel', className: 'btn-info', title: 'XLS-File' },
                        //{ extend: 'pdf', className: 'btn-info', title: $('title').text() },
                        //{ extend: 'print', className: 'btn-info' }
                    ]
                });
            });
    });
</script>
<h3 class="text-center" id="title">PARÁMETROS</h3>
<div style="padding:10px">
    <table id="tblParametros" style="width:100%"></table>    
</div> 