@{
    ViewBag.Title = "Home Page";
}
<script>
    var IdMenuPadreSelected = null;

    $(document).ready(() => {
        Abrir(IdMenuPadreSelected);
    });
    function Abrir(IdMenu) {
        if (IdMenu == null) {
            $("#a_atras").hide();
            $("#menus").empty();
            UsuarioSesion.Roles.Menus.filter(m => m.IdMenuPadre == null).forEach(m1 => {
                $("#menus").append('<div onclick="Abrir(' + m1.IdMenu + ')" style="cursor:pointer; background-color: #C5CF31; color: white; margin:5px; border:2px solid black; border-radius:50px; width:130px;height:130px; display:flex; flex-direction:column; justify-content:center; align-items:center;"><span class="' + m1.Icono + '"></span><br/><p style="font-weight:bold">' + m1.Label + '</p></div>');
            });
        }
        else {
            if (UsuarioSesion.Roles.Menus.some(m => m.IdMenuPadre == IdMenu)) {
                IdMenuPadreSelected = IdMenu;
                $("#a_atras").show();
                $("#menus").empty();
                UsuarioSesion.Roles.Menus.filter(m => m.IdMenuPadre == IdMenu).forEach(m1 => {
                    $("#menus").append('<div onclick="Abrir(' + m1.IdMenu + ')" class="menu-item"><span class="' + m1.Icono + '"></span><br/><p style="font-weight:bold">' + m1.Label + '</p></div>');
                });
            }
            else {
                IdMenuPadreSelected = -1;
                $("#a_atras").hide();
                window.location.href = UsuarioSesion.Roles.Menus.filter(m => m.IdMenu == IdMenu)[0].Url;
            }
        }
    }
    function Atras() {
        Abrir(UsuarioSesion.Roles.Menus.filter(m => m.IdMenu == IdMenuPadreSelected)[0].IdMenuPadre);   
    }
</script>
<div style="display:flex; flex-direction:column; justify-content:center; align-items:center; height:95vh">
    <div id="menus" style="display:flex; flex-direction:row; flex-wrap:wrap; justify-content:space-around; align-items:center; width:80%">
        @*<div style="border:1px solid black; width:100px;height:100px; display:flex; justify-content:center; align-items:center;"><a href="#">Descripcion</a></div>
            <div style="border:1px solid black; width:100px;height:100px; display:flex; justify-content:center; align-items:center;"><a href="#">Descripcion</a></div>
            <div style="border:1px solid black; width:100px;height:100px; display:flex; justify-content:center; align-items:center;"><a href="#">Descripcion</a></div>
            <div style="border:1px solid black; width:100px;height:100px; display:flex; justify-content:center; align-items:center;"><a href="#">Descripcion</a></div>
            <div style="border:1px solid black; width:100px;height:100px; display:flex; justify-content:center; align-items:center;"><a href="#">Descripcion</a></div>
            <div style="border:1px solid black; width:100px;height:100px; display:flex; justify-content:center; align-items:center;"><a href="#">Descripcion</a></div>*@
    </div>
    <a style="color:#8090B5;" id="a_atras" onclick="Atras();"><i class="fas fa-long-arrow-alt-left fa-2x"></i></a>
</div>
