
@{
    ViewBag.Title = "Administracion";
}
<script>
    $(document).ready(() => {
        ConsultarPapeleria();
    });

    function ConsultarPapeleria() {
        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.ConsultarFormatos, VerbosREST.POST,
            JSON.stringify({
                sessionToken: UsuarioSesion.tokenSesion
            }))
            .then(response => {
                var columns = [
                    { data: "IdFormato", title: 'Id. Formato' },
                    { data: "NroFormato", title: 'Nro. Formato' },
                    { data: "Formato", title: 'Formato' },
                    { data: "Activo", title: 'Activo' },                    
                    {
                        data: null, render: function (data, type, full, meta) {
                            return '<a onclick="window.location.href = \'../Papeleria/Administrar?iF=' + full.IdFormato + '\';"><span title="Administrar Formato" class="fa fa-edit fa-2x"></span></a>';
                        }
                    },
                    {
                        data: null, render: function (data, type, full, meta) {
                            return '<a  onclick="EliminarRx(\'' + full.IdFormato + '\');"><span title="Inactivar" class="fa fa-trash fa-2x"></span></a>';
                        }
                    }
                ];


                $("#divTblFormatos").empty();
                $("#divTblFormatos").append('<table id="tblFormatos" style="width:100%"></table>');
                $('#tblFormatos').DataTable({
                    data: response.data,
                    columns: columns,
                    language: _language_options_table,
                    //
                    dom: 'Bfrtip',
                    buttons: []
                });
            });
    }

    function EliminarRx(IdFormato) {
        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.EliminarFormato, VerbosREST.POST,
            JSON.stringify({
                sessionToken: UsuarioSesion.tokenSesion,
                idFormato: IdFormato
            }))
            .then(response => { ConsultarPapeleria(); });
    }
</script>
<h3 class="text-center" id="title">PAPELERÍA</h3>
<div style="padding:10px">    
    <div id="divTblFormatos" style="width:100%"></div>
    <br />
    <button class="button" onclick="AbrirModalCrearRx(); return false;">Crear Nuevo Formato</button>
</div>
