
@{
    ViewBag.Title = "Administracion";
}

<script>
    //$(document).ready(() => {
    //    ConsultarEquipos();
    //});

    function ConsultarEquipos() {
        _peticionAjax(URL_SERVICE + URI_SERVICE.ObtenerEquipos, VerbosREST.POST,
            JSON.stringify({ 
                sessionToken: UsuarioSesion.tokenSesion,
                IdMarca: $("#IdMarca").val(),
                idTipoEquipo: $("#IdTipoEquipo").val(),
                filtro: $("#Filtro").val()
            }),

            true, response => {

                var columns = [
                    { data: "IdEquipo", title: 'Id. Equipo' },
                    { data: "Area", title: 'Area' },
                    { data: "SerieIDInterno", title: 'Serie ID interno' },
                    { data: "Modelo", title: 'Modelo' },

                ];


                $("#divtblEquipos").empty();
                $("#divtblEquipos").append('<table id="tblEquipos" style="width:100%"></table>');
                $('#tblEquipos').DataTable({
                    data: response.data,
                    columns: columns,
                    language: _language_options_table,
                    //
                    dom: 'Bfrtip',
                    buttons: [
                        //{ extend: 'copy', className: 'btn-info' },
                        //{ extend: 'csv', className: 'btn-info' },
                        //{ extend: 'excel', className: 'btn-info', title: 'XLS-File' },
                        //{ extend: 'pdf', className: 'btn-info', title: $('title').text() },
                        //{ extend: 'print', className: 'btn-info' }
                    ]
                });
            });

    }
</script>
<h3 class="text-center" id="title">EQUIPOS</h3>
<div style="padding:10px">
    <div name="Contenedor" style="width:100%; display:flex; justify-content:space-around;" class="card">
        <input placeholder="Id. Marca" id="IdMarca" class="form-control" type="text" />
        <input placeholder="Id. TipoEquipo" id="IdTipoEquipo" class="form-control" type="text" />
        <input placeholder="Filtro" id="Filtro" class="form-control" type="text" />
        <span style="margin-left:2px; cursor:pointer" class="fa fa-search fa-2x" onclick="ConsultarEquipos();"></span>
    </div>
    <div id="tblEquipos" style="width:100%"></div>
</div>
