
@{
    ViewBag.Title = "Administrar";
}
<script>
    var equipo = null;
    $(document).ready(() => {
        $("#pruebaDatePicker").datetimepicker({
            format: "D/M/YYYY"
        });
        $("#FechaProximaCalibracion").datetimepicker({
            format: "D/M/YYYY"
        });
        $("#FechaProximoMantenimiento").datetimepicker({
            format: "D/M/YYYY"
        });
        _loadSelectTipoEquipo($("#IdTipoEquipo"));
        _loadSelectMarcas($("#IdMarcaEquipo"));
        //_loadSelectCiudades($("#IdCiudad"), '');
        _loadSelectTiposVisita($("#IdTipoVisitaAplica"));

        ConsultarEquipo();
    });

    function ConsultarEquipo() {
        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.ObtenerEquipo, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, idEquipo: window.location.href.split('=')[1] }))
            .then(response => {
                equipo = response.data;
                MostrarEquipo();
            });
    }

    function Actualizar() {        
        equipo.Area = $("#Area").val();
        equipo.SerieIDInterno = $("#SerieIDInterno").val();
        equipo.IdTipoEquipo = $("#IdTipoEquipo").val();
        equipo.IdMarcaEquipo = $("#IdMarcaEquipo").val();

        equipo.Modelo = $("#Modelo").val();
        equipo.IdMarcaEquipo = $("#RangoMedicion").val();
        equipo.IdMarcaEquipo = $("#Tolerancia").val();
        equipo.Calibrado = $("#Calibrado").is(':checked');
        equipo.Activo = $("#Activo").is(':checked');

        equipo.PeriodoCalibracion = $("#PeriodoCalibracion").val();
        equipo.FechaProximaCalibracionString = $("#FechaProximaCalibracion").val();
        equipo.PeriodoVerificacion = $("#PeriodoVerificacion").val();
        equipo.FechaProximoMantenimientoString = $("#FechaProximoMantenimiento").val();

        equipo.IdUsuarioModificacion = UsuarioSesion.IdUsuario;
        equipo.IdTipoVisitaAplica = $("#IdTipoVisitaAplica").val();

        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.ActualizarEquipo, VerbosREST.POST, JSON.stringify({
            sessionToken: UsuarioSesion.tokenSesion,
            equipo,
            idUsuarioModificacion: UsuarioSesion.IdUsuario
        }))
            .then(response => { ConsultarEquipo(); });
    }

    function MostrarEquipo() {
        $("#IdEquipo").val(equipo.IdEquipo);
        $("#Area").val(equipo.Area);
        $("#SerieIDInterno").val(equipo.SerieIDInterno);
        $("#IdTipoEquipo").val(equipo.IdTipoEquipo);
        $("#IdMarcaEquipo").val(equipo.IdMarcaEquipo);

        $("#Modelo").val(equipo.Modelo);
        $("#RangoMedicion").val(equipo.IdMarcaEquipo);
        $("#Tolerancia").val(equipo.IdMarcaEquipo);
        if (equipo.Calibrado)
            $("#Calibrado").prop('checked', 'checked');
        if (equipo.Activo)
            $("#Activo").prop('checked', 'checked');

        $("#PeriodoCalibracion").val(equipo.PeriodoCalibracion);
        $("#FechaUltimaCalibracionString").val(equipo.FechaUltimaCalibracionString);
        $("#FechaProximaCalibracion").val(equipo.FechaProximaCalibracionString);
        $("#PeriodoVerificacion").val(equipo.PeriodoVerificacion);
        $("#FechaUltimaVerificacionLaboratorioString").val(equipo.FechaUltimaVerificacionLaboratorioString);
        $("#FechaProximoMantenimiento").val(equipo.FechaProximoMantenimientoString);

        $("#FechaCreacion").val(equipo.FechaCreacion);
        $("#IdUsuarioCreacion").val(equipo.IdUsuarioCreacion);
        $("#FechaModificacion").val(equipo.FechaModificacion);
        $("#IdUsuarioModificacion").val(equipo.IdUsuarioModificacion);
        $("#IdTipoVisitaAplica").val(equipo.IdTipoVisitaAplica);

        //CalibracionesEquipos
        var columnsC = [
            { data: "Secuencia", title: 'Secuencia' },
            { data: "FechaCalibracion", title: 'FechaCalibracion' },
            { data: "Laboratorio", title: 'Laboratorio' },
            { data: "Observaciones", title: 'Observaciones' },
            //{ data: "CertificadoWebPath", title: 'CertificadoWeb' },
            {
                data: null, render: function (data, type, full, meta) {
                    return `<a onclick="window.open('${full.CertificadoWebPath}','blank_');">${full.CertificadoWebPath}</a>`;
                }
            },
            { data: "FechaCreacion", title: 'FechaCreacion' },
            { data: "IdUsuarioCreacion", title: 'IdUsuarioCreacion' }
        ];

        $("#divCalibracionesEquipos").empty();
        $("#divCalibracionesEquipos").append('<table id="tblCalibracionesEquipos" style="width:100%"></table>');
        $('#tblCalibracionesEquipos').DataTable({
            data: equipo.CalibracionesEquipos,
            columns: columnsC,
            language: _language_options_table,
            //
            dom: 'Bfrtip',
            buttons: []
        });

        //Verificaciones Laboratorio
        var columnsVL = [
            { data: "Secuencia", title: 'Secuencia' },
            { data: "FechaVerificacion", title: 'FechaVerificacion' },
            { data: "NroCertificado", title: 'NroCertificado' },
            { data: "Laboratorio", title: 'Laboratorio' },
            { data: "Observaciones", title: 'Observaciones' },
            { data: "FechaCreacion", title: 'FechaCreacion' },
            { data: "IdUsuarioCreacion", title: 'IdUsuarioCreacion' }
        ];

        $("#divVerificacionesLabEquipos").empty();
        $("#divVerificacionesLabEquipos").append('<table id="tblVerificacionesLabEquipos" style="width:100%"></table>');
        $('#tblVerificacionesLabEquipos').DataTable({
            data: equipo.VerificacionesLabEquipos,
            columns: columnsVL,
            language: _language_options_table,
            //
            dom: 'Bfrtip',
            buttons: []
        });

        //TramitesEquipo
        var columnsT = [
            { data: "Secuencia", title: 'Secuencia' },
            { data: "Observaciones", title: 'Observaciones' },
            { data: "IdInspector", title: 'IdInspector' },
            { data: "Tramite", title: 'Tramite' },
            { data: "FechaCreacion", title: 'FechaCreacion' },
            { data: "IdUsuarioCreacion", title: 'IdUsuarioCreacion' }
        ];

        $("#divTramitesEquipo").empty();
        $("#divTramitesEquipo").append('<table id="tblTramitesEquipo" style="width:100%"></table>');
        $('#tblTramitesEquipo').DataTable({
            data: equipo.TramitesEquipo,
            columns: columnsT,
            language: _language_options_table,
            //
            dom: 'Bfrtip',
            buttons: []
        });

        //Acá se muestra el botón que aplica según el estado
        $("#divBtnTramite").empty();
        let Tramite = '';
        debugger;
        if (equipo.TramitesEquipo.length == 0) {
            $("#divBtnTramite").append('<input type="button" class="button" value="Asignar" id="btnTramite" />');
            $("#divBtnTramite").append('<input type="button" class="button" value="Enviar a Calibración" id="btnTramiteC" />');
            Tramite = 'ASIGNACION';
        }
        else if (equipo.TramitesEquipo[0].Tramite == 'REC_CALIBRACION') {
            $("#divBtnTramite").append('<input type="button" class="button" value="Asignar" id="btnTramite" />');
            $("#divBtnTramite").append('<input type="button" class="button" value="Enviar a Calibración" id="btnTramiteC" />');
            Tramite = 'ASIGNACION';
        }
        else if (equipo.TramitesEquipo[0].Tramite == 'RECHAZO' || equipo.TramitesEquipo[0].Tramite == 'ACEP_DEVOLUCION') {
            $("#divBtnTramite").append('<input type="button" class="button" value="Asignar" id="btnTramite" />');
            $("#divBtnTramite").append('<input type="button" class="button" value="Enviar a Calibración" id="btnTramiteC" />');
            Tramite = 'ASIGNACION';
        }
        else if (equipo.TramitesEquipo[0].Tramite == 'DEVOLUCION') {
            $("#divBtnTramite").append('<input type="button" class="button" value="Aceptar Devolución" id="btnTramite" />');
            Tramite = 'ACEP_DEVOLUCION';
        }
        else if (equipo.TramitesEquipo[0].Tramite == 'ENV_CALIBRACION') {
            $("#divBtnTramite").append('<input type="button" class="button" value="Recibir de Calibración" id="btnTramite" />');
            Tramite = 'REC_CALIBRACION';
        }

        $("#btnTramite").click(() => {
            switch (Tramite) {
                case "ASIGNACION":
                    _resetGenericModal();
                    _appendToHeaderGeneriModal('<label>Asignar Equipo</label>')
                    _appendToBodyGeneriModal('<h5>Inspector</h5>');
                    _appendToBodyGeneriModal('<select class="form-control" id="inspector"></select>');

                    //Cargar los inspectores
                    _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.GetUsuariosByIdRol, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, idRol: 2 }))
                        .then(response => {
                            $("#inspector").append('<option value="">Seleccione Inspector...</option>');
                            response.data.forEach(inspector => {
                                $("#inspector").append(`<option value="${inspector.IdUsuario}">${inspector.Nombres} ${inspector.Apellidos}</option>`);
                            });                            
                        });
                    //Observaciones
                    _appendToBodyGeneriModal('<h5>Observaciones</h5>');
                    _appendToBodyGeneriModal('<textarea class="form-control" id="obsAsignacion"></textarea>');
                    _appendToFooterGeneriModal('<input class="button" id="btnAgregar" value="Agregar" type="button" />');
                    $("#btnAgregar").click(() => {
                        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.TramitarEquipoInspector, VerbosREST.POST, JSON.stringify({
                            sessionToken: UsuarioSesion.tokenSesion,
                            idEquipo: equipo.IdEquipo,
                            idInspector: $("#inspector").val(),
                            idUsuarioTramita: UsuarioSesion.IdUsuario,
                            tramite: Tramite,
                            observaciones: $("#obsAsignacion").val()
                        }))
                            .then(response => {
                                _closeGenericModal();
                                ConsultarEquipo();
                            })
                    });
                    _openGenericModal();
                    break;                
                case "ACEP_DEVOLUCION":                    
                    _resetGenericModal();
                    _appendToHeaderGeneriModal('<label>Aceptar Devolución</label>')                    
                    //Observaciones
                    _appendToBodyGeneriModal('<h5>Observaciones</h5>');
                    _appendToBodyGeneriModal('<textarea class="form-control" id="obsAcepDev"></textarea>');
                    _appendToFooterGeneriModal('<input class="button" id="btnAgregar" value="Agregar" type="button" />');
                    $("#btnAgregar").click(() => {
                        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.TramitarEquipoInspector, VerbosREST.POST, JSON.stringify({
                            sessionToken: UsuarioSesion.tokenSesion,
                            idEquipo: equipo.IdEquipo,
                            idInspector: equipo.TramitesEquipo[0].IdInspector,
                            idUsuarioTramita: UsuarioSesion.IdUsuario,
                            tramite: Tramite,
                            observaciones: $("#obsAcepDev").val()
                        }))
                            .then(response => {
                                _closeGenericModal();
                                ConsultarEquipo();
                            })
                    });
                    _openGenericModal();
                    break;
                case "REC_CALIBRACION":                    
                    _resetGenericModal();
                    _appendToHeaderGeneriModal('<label>Recibit de Calibración</label>')                    
                    //Observaciones
                    _appendToBodyGeneriModal('<h5>Observaciones</h5>');
                    _appendToBodyGeneriModal('<textarea class="form-control" id="obsAcepDev"></textarea>');
                    _appendToFooterGeneriModal('<input class="button" id="btnAgregar" value="Agregar" type="button" />');
                    $("#btnAgregar").click(() => {
                        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.TramitarEquipoInspector, VerbosREST.POST, JSON.stringify({
                            sessionToken: UsuarioSesion.tokenSesion,
                            idEquipo: equipo.IdEquipo,
                            idInspector: null,
                            idUsuarioTramita: UsuarioSesion.IdUsuario,
                            tramite: Tramite,
                            observaciones: $("#obsAcepDev").val()
                        }))
                            .then(response => {
                                _closeGenericModal();
                                ConsultarEquipo();
                            })
                    });
                    _openGenericModal();
                    break;
            }
        });

        $("#btnTramiteC").click(() => {            
            _resetGenericModal();
            _appendToHeaderGeneriModal('<label>Enviar Equipo Calibración</label>')            
            //Observaciones
            _appendToBodyGeneriModal('<h5>Observaciones</h5>');
            _appendToBodyGeneriModal('<textarea class="form-control" id="obsAsignacion"></textarea>');
            _appendToFooterGeneriModal('<input class="button" id="btnAgregar" value="Agregar" type="button" />');
            $("#btnAgregar").click(() => {
                _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.TramitarEquipoInspector, VerbosREST.POST, JSON.stringify({
                    sessionToken: UsuarioSesion.tokenSesion,
                    idEquipo: equipo.IdEquipo,
                    idInspector: null,
                    idUsuarioTramita: UsuarioSesion.IdUsuario,
                    tramite: 'ENV_CALIBRACION',
                    observaciones: $("#obsAsignacion").val()
                }))
                    .then(response => {
                        _closeGenericModal();
                        ConsultarEquipo();
                    })
            });
            _openGenericModal();
        });
    }

    function AbrirAgregarVerificacionesLabEquipo() {
        _resetGenericModal();
        _appendToHeaderGeneriModal('<label>Agregar Verificación Laboratorio</label>');
        _appendToHeaderGeneriModal('<h5>Fecha</h5>');
        _appendToHeaderGeneriModal('<input id="FechaVerificacion" class="form-control" />'); 
        $("#FechaVerificacion").datetimepicker({
            format: "D/M/YYYY"
        });
        _appendToHeaderGeneriModal('<h5>Nro. Certificado</h5>');
        _appendToHeaderGeneriModal('<input id="NroCertificado" class="form-control" />');
        _appendToHeaderGeneriModal('<h5>Laboratorio</h5>');
        _appendToHeaderGeneriModal('<input id="Laboratorio" class="form-control" />');
        _appendToHeaderGeneriModal('<h5>Observaciones</h5>');
        _appendToHeaderGeneriModal('<textarea id="ObservacionesV" class="form-control"></textarea>');  
        _appendToFooterGeneriModal('<input class="button" id="btnAgregarVerificacion" type="button" value="Agregar" />');
        $("#btnAgregarVerificacion").click(() => {
            if ($("#FechaVerificacion").val() != '' && $("#NroCertificado").val() != '' && $("#Laboratorio").val() != '') {
                _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.IngresarVerificacionALaboratorio, VerbosREST.POST, JSON.stringify({
                    sessionToken: UsuarioSesion.tokenSesion,
                    verificacion: {
                        IdEquipo: equipo.IdEquipo,
                        FechaVerificacion: $("#FechaVerificacion").val(),
                        NroCertificado: $("#NroCertificado").val(),
                        Laboratorio: $("#Laboratorio").val(),
                        Observaciones: $("#ObservacionesV").val(),
                        IdUsuarioCreacion: UsuarioSesion.IdUsuario
                    }
                }))
                    .then(response => {
                        _closeGenericModal();
                        ConsultarEquipo();
                    });
            }
            else
                swal({
                    text: 'Por favor ingresar la Fecha, el Nro. Certificado y el Laboratorio para crear.',
                    title: swalTitle,
                    icon: "error"
                });
        });
        _openGenericModal();
    }

    function AbrirAgregarCalibracionesEquipo() {
        _resetGenericModal();
        _appendToHeaderGeneriModal('<label>Agregar Calibración</label>');
        _appendToHeaderGeneriModal('<h5>Fecha</h5>');
        _appendToHeaderGeneriModal('<input id="FechaCalibracion" class="form-control" />'); 
        $("#FechaCalibracion").datetimepicker({
            format: "D/M/YYYY"
        });
        _appendToHeaderGeneriModal('<h5>Laboratorio</h5>');
        _appendToHeaderGeneriModal('<input id="Laboratorio" class="form-control" />');
        _appendToHeaderGeneriModal('<h5>Certificado</h5>');
        _appendToHeaderGeneriModal('<a id="aCertificado"><label id="Certificado" style="cursor:pointer">Subir...</label></a>');
        $("#aCertificado").click(() => {
            _peticionAjax_Promise('../Files/SetGlobalVarForFileUpLoad', VerbosREST.POST, JSON.stringify({ From: 'CAL_EQU'}))
                .then(response => {
                    window.open('../Files/UpLoad', this.target, 'width=450,height=300');
                });
        });
        _appendToHeaderGeneriModal('<h5>Observaciones</h5>');
        _appendToHeaderGeneriModal('<textarea id="ObservacionesC" class="form-control"></textarea>');  

        _appendToFooterGeneriModal('<input class="button" id="btnAgregarCalibracion" type="button" value="Agregar" />');
        $("#btnAgregarCalibracion").click(() => {
            debugger;
            if ($("#FechaCalibracion").val() != '' && $("#Laboratorio").val() != '' && $("#Certificado").text() != 'Subir...') {
                _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.IngresarACalibracionEquipo, VerbosREST.POST, JSON.stringify({
                    sessionToken: UsuarioSesion.tokenSesion,
                    calibracion: {
                        IdEquipo: equipo.IdEquipo,
                        FechaCalibracionString: $("#FechaCalibracion").val(),
                        Laboratorio: $("#Laboratorio").val(),
                        Observaciones: $("#ObservacionesC").val(),
                        IdUsuarioCreacion: UsuarioSesion.IdUsuario,
                        Certificado: $("#Certificado").text()
                    }
                }))
                    .then(response => {
                        _closeGenericModal();
                        ConsultarEquipo();
                    });
            }
            else
                swal({
                    text: 'Por favor ingresar la Fecha, el Laboratorio y el Certificado para crear.',
                    title: swalTitle,
                    icon: "error"
                });
        });
        _openGenericModal();
    }

    function continueUpLoad(from, file) {
        if (from == 'CAL_EQU') {
            $("#Certificado").text(file);
        }
    }
</script>
<h3 class="text-center" id="title">ADMINISTRAR EQUIPO</h3>
<div class="card">
    <div style="display:grid; grid-template-columns: 25% 25% 25% 25%">
        <div>
            <h5>IdEquipo</h5>
            <input id="IdEquipo" class="form-control" disabled />
            <h5>área</h5>
            <input id="Area" class="form-control" />
            <h5>Serie ID Interno</h5>
            <input id="SerieIDInterno" class="form-control" />
            <h5>Tipo Equipo</h5>
            <select id="IdTipoEquipo" class="form-control"></select>
            <h5>Marca Equipo</h5>
            <select id="IdMarcaEquipo" class="form-control"></select>
            <h5>Tipo Visita Aplica</h5>
            <select id="IdTipoVisitaAplica" class="form-control"></select>
        </div>
        <div>
            <h5>Modelo</h5>
            <input id="Modelo" class="form-control" />
            <h5>Rango Medición</h5>
            <input id="RangoMedicion" class="form-control" />
            <h5>Tolerancia</h5>
            <input id="Tolerancia" class="form-control" />
            <h5>Calibrado</h5>
            <input id="Calibrado" type="checkbox" />
            <h5>Activo</h5>
            <input id="Activo" type="checkbox" />
        </div>
        <div>
            <h5>Período Calibración (meses)</h5>
            <input id="PeriodoCalibracion" class="form-control" />
            <h5>Fecha Última Calibración</h5>
            <input id="FechaUltimaCalibracionString" class="form-control" disabled />
            <h5>Fecha Próxima Calibración</h5>
            <input id="FechaProximaCalibracion" class="form-control"/>
            <h5>Período Verificación (meses)</h5>
            <input id="PeriodoVerificacion" class="form-control" />
            <h5>Fecha Última Verificacion Laboratorio</h5>
            <input id="FechaUltimaVerificacionLaboratorioString" class="form-control" disabled />
            <h5>Fecha Próximo Mantenimiento</h5>
            <input id="FechaProximoMantenimiento" class="form-control" />
        </div>
        <div>
            <h5>Fecha Creación</h5>
            <input id="FechaCreacion" class="form-control" disabled />
            <h5>Id Usuario Creación</h5>
            <input id="IdUsuarioCreacion" class="form-control" disabled />
            <h5>Fecha Modificación</h5>
            <input id="FechaModificacion" class="form-control" disabled />
            <h5>Id Usuario Modificación</h5>
            <input id="IdUsuarioModificacion" class="form-control" disabled />
            <input type="button" class="button" value="Actualizar" style="width:100%" onclick="Actualizar();" />
        </div>
    </div>
</div>
<div class="card">
    <h3>Calibraciones Equipos</h3>
    <div id="divCalibracionesEquipos"></div>
    <input type="button" class="button" value="Agregar Calibración" onclick="AbrirAgregarCalibracionesEquipo();" />
</div>
<div class="card">
    <h3>Verificaciones Lab. Equipos</h3>
    <div id="divVerificacionesLabEquipos"></div>
    <input type="button" class="button" value="Agregar Verificación Lab. Equipos" onclick="AbrirAgregarVerificacionesLabEquipo();" />
</div>
<div class="card">
    <h3>Trámites Equipo</h3>
    <div id="divTramitesEquipo"></div>
    <div id="divBtnTramite"></div>
</div>