<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Intratec</title>
    <link rel="stylesheet" href="./css/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="./css/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="~/css/styles.css" />


    <script src="../js/jquery.min.js"></script>
    <script src="../js/blockUI.js"></script>
    <script src="../js/_globalMethods.js"></script>
</head>
<body class="bg-dark">


    @RenderBody()


    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>*@
</body>

</html>