
@{
    ViewBag.Title = "ConsultaInspector";
}

<script>
    $(document).ready(() => {
        $("#fechaInicial").datetimepicker({
            format: "D/M/YYYY"
        });
        _setFirstDayOfMonth($("#fechaInicial"));
        $("#fechaFinal").datetimepicker({
            format: "D/M/YYYY"
        });
        _setToday($("#fechaFinal"));

        $("#FechaPrueba").datetimepicker({
            format: "D/M/YYYY"
        });
        _setToday($("#FechaPrueba"));

        _loadSelectEstadosVisita($("#idEstadoVisita"));

        ConsultarVisitas();
    });

    function ConsultarVisitas() {
        _peticionAjax(URL_SERVICE + URI_SERVICE.ConsultaVisitas, VerbosREST.POST,
            JSON.stringify({
                sessionToken: UsuarioSesion.tokenSesion,
                fechaInicial: $("#fechaInicial").val(),
                fechaFinal: $("#fechaFinal").val(),
                numeroIdentificacionCliente: $("#numeroIdentificacionCliente").val(),
                idInspector: UsuarioSesion.IdUsuario,
                idEstadoVisita: $("#idEstadoVisita").val()
            }),
            true, response => {
                //$("#divTblVisitas").empty();
                //$("#divTblVisitas").append('<table class="table" id="tblVisitas" style="width:100%"></table>');
                //if (response.data.length > 0) {
                //    $("#tblVisitas").append('<tr><th>Id. Visita</th><th>Nombre Cliente</th><th></th></tr>');
                //    response.data.forEach(visita => {
                //        $("#tblVisitas").append('<tr><th>Id. Visita</th><th>Nombre Cliente</th><th></th></tr>');
                //    });
                //}
                //else {
                //    $("#tblVisitas").append('<tr><td><p>No hay nada para mostrar</p></td></tr>');
                //}

                var columns = [
                    //{ data: "IdVisita", title: 'Id. Visita' },
                    { data: "NombreCliente", title: 'Cliente' },
                    { data: "Direccion", title: 'Direccion' },
                    { data: "FechaVisita", title: 'FechaVisita' },
                    //{ data: "Inspector", title: 'Inspector' },
                    { data: "TipoVisita", title: 'TipoVisita' },
                    {
                        data: null, title: '', render: function (data, type, full, meta) {
                            return `<a href="../Visitas/Consultar?iv=${full.IdVisita}" target="blank_"><i class="fas fa-eye fa-2x"></i></a>`;
                        }
                    }
                ];
                console.log(response.data);
                $("#divTblVisitas").empty();
                $("#divTblVisitas").append('<table id="tblVisitas" style="width:100%" class="tableMobile tableMobileVI"></table>');
                $('#tblVisitas').DataTable({
                    data: response.data,
                    columns: columns,
                    language: _language_options_table,
                    //
                    dom: 'Bfrtip',
                    buttons: [
                        //{ extend: 'copy', className: 'btn-info' },
                        //{ extend: 'csv', className: 'btn-info' },
                        //{ extend: 'excel', className: 'btn-info', title: 'XLS-File' },
                        //{ extend: 'pdf', className: 'btn-info', title: $('title').text() },
                        //{ extend: 'print', className: 'btn-info' }
                    ]
                });
            });
    }

    function AbrirModalCrearRx() {
        _resetGenericModal();

        $("#genericModalHeader").append('<label>Crear Zona</label>');
        $("#genericModalBody").append('<p>Departamento</p>');
        $("#genericModalBody").append('<select id="IdDepartamento" class="form-control"></select>');
        _loadSelectDepartamentos($("#IdDepartamento"), '57');
        $("#IdDepartamento").change(() => { _loadSelectCiudades($("#IdCiudad"), $("#IdDepartamento").val()); });
        $("#genericModalBody").append('<p>Ciudad</p>');
        $("#genericModalBody").append('<select id="IdCiudad" class="form-control"></select>');
        $("#genericModalBody").append('<p>Descripción</p>');
        $("#genericModalBody").append('<input id="Descripcion" type="text" class="form-control" />');
        $("#genericModalBody").append('<p>Inspector</p>');
        $("#genericModalBody").append('<select id="IdInspector" class="form-control"></select>');
        //Cargar los inspectores
        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.GetUsuariosByIdRol, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, idRol: 2 }))
            .then(response => {
                $("#IdInspector").append('<option value="">Seleccione Inspector...</option>');
                response.data.forEach(inspector => {
                    $("#IdInspector").append(`<option value="${inspector.IdUsuario}">${inspector.Nombres} ${inspector.Apellidos}</option>`);
                });
            });

        $("#genericModalFooter").append('<button class="button" id="btnCrearRx" return false;">Crear</button>');
        $("#btnCrearRx").click(() => {
            if ($("#IdCiudad").val() != '' && $("#Descripcion").val() != '') {
                _peticionAjax(URL_SERVICE + URI_SERVICE.CrearZona, VerbosREST.POST,
                    JSON.stringify({
                        sessionToken: UsuarioSesion.tokenSesion,
                        zona: {
                            IdCiudad: $("#IdCiudad").val(),
                            Descripcion: $("#Descripcion").val(),
                            IdInspector: $("#IdInspector").val() == '' ? null : $("#IdInspector").val(),
                            IdUsuarioCreacion: UsuarioSesion.IdUsuario
                        }
                    }),
                    true, response => {
                        ConsultarVisitas();
                        _closeGenericModal()
                    });
            }
            else {
                swal({
                    text: 'Ciudad y Descripción son obligatorios para crear.',
                    title: swalTitle,
                    icon: "error"
                });
            }
        });
        _openGenericModal();
    }
</script>
<h3 class="text-center" id="title">VISITAS</h3>
<div style="padding:10px; position: relative">
    <div name="filtros" style="width:100%; display:flex; justify-content:space-around; flex-wrap:wrap" class="card">
        <input placeholder="Fecha Inicial" id="fechaInicial" class="form-control" type="text" />
        <input placeholder="Fecha Final" id="fechaFinal" class="form-control" type="text" />
        <input placeholder="Número Identificación" id="numeroIdentificacionCliente" class="form-control" type="text" />
        <select id="idEstadoVisita" class="form-control"></select>
        <span style="margin-left:2px; cursor:pointer" class="fa fa-search fa-2x" onclick="ConsultarVisitas();"></span>
    </div>
    <div id="divTblVisitas" style="width:100%"></div>
    <br />
    <button class="button" onclick="window.open('../Visitas/AgendarVisita', this.target); return false;">Agendar Visita</button>
</div> 