
@{
    ViewBag.Title = "EjecutarVisita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var idVisita_, visita_;

    $(document).ready(() => {
        idVisita_ = _getUrlVars(window.location.href)["iv"];

        _loadSelectFormato($("#Formato"));
        _loadSelectTiposFoto($("#TipoFoto"));

        //Acá se actualiza el estado de la visita
        _peticionAjax_NoLockScreen(URL_SERVICE + URI_SERVICE.EjecutarVisita, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, idVisita: idVisita_, idInspector: UsuarioSesion.IdUsuario }));

        //Acá buscaré la Visita full
        ConsultarVisita();
    });

    function ConsultarVisita() {
        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.ConsultarVisita, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, idVisita: idVisita_ }))
            .then(response => {
                visita_ = response.data;
                $("#title").text(`Visita #${visita_.IdVisita}`);

                MostrarInfoGeneral();
                MostrarFormatos();
                MostrarFotos();

                if (visita_.IdEstadoVisitas == 'F') {
                    $("#divFormatos").hide();
                    $("#divFotos").hide();
                    $("#btnFinalizar").hide();
                    $("#Observaciones").prop('disabled', 'disabled');
                    $("#divInfoGeneral").append('<br/><h3><strong>VISITA FINALIZADA</strong></h3>');
                }
            });
    }

    function MostrarInfoGeneral() {
        console.log(visita_);
        $("#divInfoGeneral").empty();
        $("#divInfoGeneral").append(
            `
            <label>Cliente: ${visita_.Clientes.Nombres} ${visita_.Clientes.Apellidos}</label><br/>
            <label>Número Identificación: ${visita_.Clientes.NumeroIdentificacion}</label><br/>
            <label>Nro. Póliza: ${visita_.Propiedades.NroPoliza}</label><br/>
            <label>Dirección: ${visita_.Propiedades.Direccion}</label><br/>
            <label>Tipo Propiedad: ${visita_.Propiedades.TiposPropiedades.TipoPropiedad}</label><br/>
            <label>Uso Propiedad: ${visita_.Propiedades.UsosPropiedades.Uso}</label><br/>
            <label>Tipo Visita: ${visita_.TiposVisita.TipoVisita}</label>
            `
        );
        $("#Observaciones").val(visita_.ObservacionesInspector);
    }

    function MostrarFormatos() {
        $("#tblFormatosUsados").empty();

        if (visita_.FormatosVisita.length > 0) {
            $("#tblFormatosUsados").append(`<tr><th>Secuencia</th><th>Formato</th><th>Consecutivo</td></tr>`);
            visita_.FormatosVisita.forEach(formato => {
                $("#tblFormatosUsados").append(`<tr><td>${formato.Secuencia}</td><td>${formato.Formatos.NroFormato}</td><td>${formato.Consecutivo}</td></tr>`);
            });
        }
        else {
            $("#tblFormatosUsados").append('<tr><td>No ha ingresado formatos aún</td></tr>');
        }
    }

    function AgregarFormatoVisita() {
        if ($("#Formato").val() != '' && $("#ConsecutivoFormato").val() != '') {
            if (!visita_.FormatosVisita.some(f => f.IdFormato == $("#Formato").val() && f.Consecutivo == $("#ConsecutivoFormato").val())) {
                let formatoVisita = {
                    IdVisita: idVisita_,
                    Secuencia: visita_.FormatosVisita.length + 1,
                    IdFormato: $("#Formato").val(),
                    Formatos: {
                        IdFormato: $("#Formato").val(),
                        NroFormato: $("#Formato option:selected").text()
                    },
                    Consecutivo: $("#ConsecutivoFormato").val()
                };

                _peticionAjax_NoLockScreen(URL_SERVICE + URI_SERVICE.AgregarFormatoVisita, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, formato: formatoVisita, idVisita: idVisita_, idInspector: UsuarioSesion.IdUsuario }))
                    .then(response => {
                        visita_.FormatosVisita.push(formatoVisita);
                        $("#Formato").val('');
                        $("#ConsecutivoFormato").val('');
                        MostrarFormatos();
                    });
            }
            else {
                swal({
                    title: swalTitle,
                    text: 'Consecutivo ya agregado.',
                    icon: 'error'
                });
            }
        }
        else {
            swal({
                title: swalTitle,
                text: 'Debe ingresar Formato y Consecutivo',
                icon: 'error'
            });
        }
    }

    function AbrirSubirFoto() {
        _peticionAjax_Promise('../Files/SetGlobalVarForFileUpLoad', VerbosREST.POST, JSON.stringify({ From: 'FOT_VIS' }))
            .then(response => {
                window.open('../Files/UpLoad', this.target, 'width=450,height=300');
            });
    }

    function continueUpLoad(from, file, webPath) {
        if (from == 'FOT_VIS') {
            let fotoVisita = {
                IdVisita: idVisita_, Secuencia: visita_.FotosVisita.length + 1, Path: file, WebPath: webPath,
                IdTipoFoto: $("#TipoFoto").val(),
                TiposFoto: {
                    IdTipoFoto: $("#TipoFoto").val(),
                    TipoFoto: $("#TipoFoto option:selected").text()
                }
            };
            _peticionAjax_NoLockScreen(URL_SERVICE + URI_SERVICE.AgregarFotoVisita, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, foto: fotoVisita, idVisita: idVisita_, idInspector: UsuarioSesion.IdUsuario }))
                .then(response => {
                    visita_.FotosVisita.push(fotoVisita);
                    $("#TipoFoto").val('')
                    MostrarFotos();
                });
        }
    }

    function MostrarFotos() {
        $("#tblFotosTomadas").empty();
        if (visita_.FotosVisita.length > 0) {
            $("#tblFotosTomadas").append(`<tr><th>Secuencia</th><th>Tipo Foto</th><th>Path</th></tr>`);
            visita_.FotosVisita.forEach(foto => {
                $("#tblFotosTomadas").append(`<tr><td>${foto.Secuencia}</td><td>${foto.TiposFoto.TipoFoto}</td><td><a onclick="window.open('${foto.WebPath}', this.target);">${foto.WebPath}</a></td></tr>`);
            });
        }
        else {
            $("#tblFotosTomadas").append('<tr><td>No ha ingresado fotos aún</td></tr>');
        }
    }

    function FinalizarVisita() {
        _peticionAjax_Promise(URL_SERVICE + URI_SERVICE.FinalizarVisita, VerbosREST.POST, JSON.stringify({ sessionToken: UsuarioSesion.tokenSesion, idVisita: idVisita_, observacion: $("#Observaciones").val() , idInspector: UsuarioSesion.IdUsuario }))
            .then(response => {
                ConsultarVisita();
            });
    }
</script>
<h3 class="text-center" id="title"></h3>
<div class="card">
    <h4 class="text-center">Información General</h4>
    <div id="divInfoGeneral" class="text-center"></div>
</div>
<div style="display:flex; justify-content:center; flex-direction:column; align-items:center" class="card">
    <h4>Formatos Usados</h4>
    <table id="tblFormatosUsados" class="table table-bordered"></table>
    <div id="divFormatos">
        <p>Formato</p>
        <select id="Formato" class="form-control"><option value="">Seleccione Formato</option></select>
        <p>Consecutivo</p>
        <input id="ConsecutivoFormato" class="form-control" type="number" />
        <input class="button" value="Ingresar Consecutivo" type="button" onclick="AgregarFormatoVisita();" />
    </div>
</div>
<div style="display:flex; justify-content:center; flex-direction:column; align-items:center" class="card">
    <h4>Fotos Tomadas</h4>
    <table id="tblFotosTomadas" class="table table-bordered"></table>
    <div id="divFotos">
        <p>Tipo Foto</p>
        <select id="TipoFoto" class="form-control" onchange="AbrirSubirFoto();"></select>
    </div>
</div>
<div style="display:flex; justify-content:center; flex-direction:column; align-items:center" class="card">
    <h4>Complementarios</h4>
    <p>Observaciones</p>
    <textarea id="Observaciones" class="form-control" placeholder="Observaciones del inspector para la visita"></textarea>
    <input id="btnFinalizar" class="button" value="Finalizar Visita" type="button" onclick="FinalizarVisita();" />
</div>