
@{
    ViewBag.Title = "OrgDeInspeccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="bg-primary mt-3">Organismo de inspección</h2>
            <p class="mt-4">
                Unidad OEC: Organismo de inspección acreditado por El Organismo Nacional de Acreditación de Colombia – ONAC.
                Con código de acreditación 20-OIN-006 vigente, bajo la norma ISO/IEC 17020:2012, con alcance para inspeccionar instalaciones de gas
                combustible por revisión periódica, revisión previa y reforma. Con personal idóneo, calificado, certificados con su competencia laboral vigente
                y con experiencia, para prestar servicios con diligencia y responsabilidad.
                (no participamos en proyectos de diseño, construcción o distribución de gases combustibles).
                Inspección de instalaciones previa.
            </p>
        </div>
    </div>
</div>