
@{
    ViewBag.Title = "programeSuVisita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script>
    var _ipInfo;

    $(document).ready(() => {
        $.getJSON('https://ipapi.co/json/', function (data) {
            console.log(JSON.stringify(data, null, 2));
            _ipInfo = data;
        });

        _peticionAjax('@Url.Action("ObtenerUsuario", "Home")', '', true,
            response => {
                $("#Departamento").empty()
                $("#Departamento").append('<option value="">Seleccione...</option>');
                response.data.forEach(element => {
                    $("#Departamento").append('<option value="' + element.IdDepartamento + '">' + element.Departamento + '</option>');
                });
            });
    });

    function CargarCiudades() {
        _peticionAjax('@Url.Action("ObtenerCiudades", "Home")', JSON.stringify({ IdDepartamento: $('#Departamento').val() }), true,
            response => {
                $("#Ciudad").empty()
                $("#Ciudad").append('<option value="">Seleccione...</option>');
                response.data.forEach(element => {
                    $("#Ciudad").append('<option value="' + element.IdCiudad + '">' + element.Ciudad  + '</option>');
                });
            });
    }

    function Programar() {
        var obj = {
            Nombre: $("#Nombre").val(),
            Telefono: $("#Telefono").val(),
            Direccion: $("#Direccion").val(),
            Uso: $("#Uso").val(),
            Departamento: $("#Departamento").val(),
            IdCiudad: $("#Ciudad").val(),
            NumeroCuenta: $("#NumeroCuenta").val(),
            NombreContacto: $("#NombreContacto").val(),
            TelefonoContacto: $("#TelefonoContacto").val(),
            ip: _ipInfo.ip,
            city: _ipInfo.city,
            country: _ipInfo.country
        }

        if (obj.Nombre == '' || obj.Telefono == '' || obj.Direccion == '' || obj.Uso == '' || obj.Departamento == '' || obj.IdCiudad == '' || obj.NumeroCuenta == '' || obj.NombreContacto == '' || obj.TelefonoContacto == '') {
            swal("Intec SAS!", "Los campos con (*) son de obligatorio diligenciamiento.", "error");
        }
        else {
            _peticionAjax('@Url.Action("IngresarSolicitudVisita","Home")', JSON.stringify({ Solicitud: obj }), true,
                response => {
                    LimpiarCampos();
                    swal("Intec SAS!", "Solicitud de programación de visita recibida. Uno de nuestros agentes se comunicará con usted pronto.", "success");
                    //alert('OK');
                }
            );
        }
    }

    function LimpiarCampos() {
        $("#Nombre").val('');
        $("#Telefono").val('');
        $("#Direccion").val('');
        $("#Uso").val('');
        $("#Departamento").val('');
        $("#Ciudad").val('');
        $("#NumeroCuenta").val('');
        $("#NombreContacto").val('');
        $("#TelefonoContacto").val('');
    }
    </script>
<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Inicio <i class="ion-ios-arrow-forward"></i></a></span> <span>Programe su visita<i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-0 bread">Programar visitas</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class=" d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Por favor diligencie la siguiente información</h3>
                                @*<div id="form-message-warning" class="mb-4"></div>
                                <div id="form-message-success" class="mb-4">
                                     Your message was sent, thank you!
                                </div>*@
                                <div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Nombre">Nombre completo (*)</label>
                                                <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Su Nombre">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Telefono">Teléfono (*)</label>
                                                <input type="text" class="form-control" name="Telefono" id="Telefono" placeholder="Su Teléfono">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Direccion">Dirección (*)</label>
                                                <input type="text" class="form-control" name="Direccion" id="Direccion" placeholder="Su Dirección">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Uso">Uso (*)</label>
                                                <select class="form-control" id="Uso">
                                                    <option value="">Seleccione...</option>
                                                    <option value="Residencial">Residencial</option>
                                                    <option value="Comercial">Comercial</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Departamento">Departamento (*)</label>
                                                <select class="form-control" name="Departamento" id="Departamento" onchange="CargarCiudades()"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Ciudad">Ciudad (*)</label>
                                                <select class="form-control" name="Ciudad" id="Ciudad">
                                                    <option value="">Seleccione...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="NumeroCuenta">Número de cuenta (*)</label>
                                                <input type="text" class="form-control" name="NumeroCuenta" id="NumeroCuenta" placeholder="Su Número de cuenta">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="NombreContacto">Persona de contacto (*)</label>
                                                <input type="text" class="form-control" name="NombreContacto" id="NombreContacto" placeholder="Nombre Cont.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="TelefonoContacto">teléfono persona de contacto (*)</label>
                                                <input type="text" class="form-control" name="TelefonoContacto" id="TelefonoContacto" placeholder="Teléfono Cont.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="button" value="Programar Visita" class="btn btn-primary" onclick="Programar();">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

