
@{
    ViewBag.Title = "UniDeProyectos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="bg-primary mt-3">Unidad de proyectos</h2>
            <img src="~/images/Ing1.jpg" />
            <p class="mt-4">Área independiente al OEC. Que presta servicios de consultoría, interventoría, construcción y asistencias técnicas entre otros.</p>
            <img src="~/images/eng3.jpg" />
            <img src="~/images/Ing2.jpg" />
            <img src="~/images/Obra1.jpg" />
        </div>
    </div>
</div>

