@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
        var _ipInfo;

        $(document).ready(() => {
        });

        function Comparar() {
            _peticionAjax(
                '@Url.Action("ObtenerUsuario", "Home")', //url
                JSON.stringify(
                    {
                        User: $("[name='user']").val(),
                        Pass: $("#password").val()
                    }
                ), //parámetros
                true, //naturaleza: asíncrono o síncrono
                HacerCuandoResponda //Qué hace cuando resuelva
                );
        }

        function HacerCuandoResponda(response) {
            if (response.data.length > 0) alert('Bienvenido');
            else alert('Usuario no registrado');
        }

        function CrearUsuario() {
             _peticionAjax(
                '@Url.Action("CrearUsuario", "Home")', //url
                JSON.stringify(
                    {
                        User: $("[name='user']").val(),
                        Pass: $("#password").val()
                    }
                ), //parámetros
                true, //naturaleza: asíncrono o síncrono
                 HacerCuandoResponda_2//Qué hace cuando resuelva
                );
         }
        function HacerCuandoResponda_2(response) {
            if (response.data.length > 0) alert('No se pudo');
            else alert('Se pudo'); //Wil Está al reves??
        }
</script>


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-sm-9 d-flex justify-content-center bg-light mb-5 mt-5 rounded">
            <div class="bg-light w-75 mt-5">
                <form class="">
                    <h1 class="h2 mt-4 text-primary">ACCOUNT LOGIN</h1>
                    <div class="form-group mt-5 text-left">
                        <label for="user">USERNAME</label>
                        <input id="user" class="form-control" type="text" name="user">
                    </div>
                    <div class="form-group mt-4 text-left">
                        <label for="password">PASSWORD</label>
                        <input id="password" class="form-control" type="password" name="password">
                    </div>
                    <div class="row justify-content-between pl-3 pr-3 mt-4">
                        <div class="form-check">
                            <input id="forgot" class="form-check-input" type="checkbox" name="forgot" value="true">
                            <label for="forgot" class="form-check-label">Remember me</label>
                        </div>
                        <a href="#">Forgot pasword?</a>
                    </div>
                    <div>
                        <a href="~/Views/Home/NuevoRegistro.cshtml">Nuevo usuario</a>
                    </div>
                    <input id="btn" type="button" value="LOG IN" class="btn btn-primary w-100 mt-5 mb-5" onclick="Comparar();">
                    <input id="btn" type="button" value="LOG IN" class="btn btn-primary w-100 mt-5 mb-5" onclick="CrearUsuario();">
                </form>
            </div>
        </div>
    </div>
</div>
