@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var _ipInfo;

    $(document).ready(() => {
        $.getJSON('https://ipapi.co/json/', function (data) {
            console.log(JSON.stringify(data, null, 2));
            _ipInfo = data;
        });

        _peticionAjax('@Url.Action("ObtenerUsuario", "Home")', JSON.stringify({ IdDepartamento: $('#User').val() }), true,
            response => {
            response => {
                $("#User").empty()
                $("#User").append('<option value="">Seleccione...</option>');
                response.data.forEach(element => {
                    $("#User").append('<option value="' + element.IdDepartamento + '">' + element.Departamento + '</option>');
                });
            });
    });
    function Comparar() {
        var obj = {
            User: $("#User").val(),
            Password: $("#Password").val()
        }

        if (obj.User == User || obj.Password == Password) {
            alert('Usuario encontrado');
        }
        else {
            alert('Usuario no encontrado')
                }
            );
        }
        }
</script>


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-sm-9 d-flex justify-content-center bg-light mb-5 mt-5 rounded">
            <div class="bg-light w-75 mt-5">
                <form class="">
                    <h1 class="h2 mt-4 text-primary">ACCOUNT LOGIN</h1>
                    <div class="form-group mt-5 text-left">
                        <label for="user">USERNAME</label>
                        <input id="user" class="form-control" type="text" name="user">
                    </div>
                    <div class="form-group mt-4 text-left">
                        <label for="password">PASSWORD</label>
                        <input id="password" class="form-control" type="password" name="password">
                    </div>
                    <div class="row justify-content-between pl-3 pr-3 mt-4">
                        <div class="form-check">
                            <input id="forgot" class="form-check-input" type="checkbox" name="forgot" value="true">
                            <label for="forgot" class="form-check-label">Remember me</label>
                        </div>
                        <a href="#">Forgot pasword?</a>
                    </div>
                    <input type="button" value="LOG IN" class="btn btn-primary w-100 mt-5 mb-5" onclick="Comparar();">
                </form>
            </div>
        </div>
    </div>
</div>
