@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevo Registro</title>
    
    
    <script>
            $(document).ready(() => {
            });

            function CrearUsuario() {
             _peticionAjax(
                '@Url.Action("CrearUsuario", "Home")', //url
                JSON.stringify(
                    {
                        User: $("[name='user']").val(),
                        Pass: $("#password").val()
                    }
                ), //parámetros
                true, //naturaleza: asíncrono o síncrono
                 HacerCuandoResponda_2//Qué hace cuando resuelva
                );
            }

            function HacerCuandoResponda_2(response) {
                if (response.data.length > 0) alert('No se pudo');
                else alert('Se pudo'); //Wil Está al reves??
        }

        @*const btn = document.getElementById(Button);
        btn.addEventListener("click", CrearUsuario, true);*@

    </script>
    <script>
        const nombres = document.getElementById(NameReg);
        const apellidos = document.getElementById(LastNameReg);
        const usuario = document.getElementById(User2);
        const direccion = document.getElementById(Adress);
        const telefono = document.getElementById(Phone);
        const abreviatura = document.getElementById(Abrevia);
        const numeroIdent = document.getElementById(Ident);
        const contra = document.getElementById(Password);
        const datos = nombres, apellidos, usuario, direccion, telefono, abreviatura, telefono, numeroIdent, contra;
        const formu = document.getElementById(form);

        if (datos.value === null || datos.value === '') {
            alert("Datos incorrectos")
        }

        formu.addEventListener('submit', function (enviar) {
            enviar.preventDefault;
        });
    </script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-light mb-5 mt-5 rounded">
                <div class="bg-light mt-5">
                    <h1 class="h2 mt-4 text-primary">Registro de usuario</h1>
                    <form id="form">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="NameReg">Nombres</label>
                                <input id="NameReg" class="form-control" type="text" name="NameReg">
                                <label for="Phone">Telefono</label>
                                <input id="Phone" class="form-control" type="text" name="Phone">
                                <label for="User2">Nombre usuario</label>
                                <input id="User2" class="form-control" type="text" name="User2">
                                <label for="User2">Tipo Documento</label>
                                <select id="TipoDocumento" class="form-control">
                                    
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="LastNameReg">Apellidos</label>
                                <input id="LastNameReg" class="form-control" type="text" name="LastNameReg">
                                <label for="Address">Dirección</label>
                                <input id="Adress" class="form-control" type="text" name="Adress">
                                <label for="Password">Contraseña</label>
                                <input id="Password" class="form-control" type="password" name="Password">
                                <label for="Ident">Número de documento de identidad</label>
                                <input id="Ident" class="form-control" type="text" name="Ident">
                            </div>
                        </div>
                        <div style="text-align:center">
                            <input id="Button" type="button" value="Crear usuario" class="btn btn-primary w-75 mt-5 mb-5" onclick="CrearUsuario()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
