@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevo Registro</title>
    
    
    <script>
        $(document).ready(() => {
            _peticionAjax('../Home/ObtenerTiposIdentificacion', '', true, response => {
                $("#TipoIdentificacion").empty();
                response.data.forEach(tipo => {
                    $("#TipoIdentificacion").append('<option value="' + tipo.IdTipoIdentificacion + '">' + tipo.Abreviatura + '</option>')
                });
            });
        });

        $(document).ready(() => {
            _peticionAjax('../Home/ObtenerPaises', '', true, response => {
                $("#Pais").empty();
                response.data.forEach(tipo => {
                    $("#Pais").append('<option value="' + tipo.IdPais + '">' + tipo.Pais + '</option>')
                });
            });
        });

    function CrearUsuario() {
        var obj = {
            Nombres: $("#Nombres").val(),
            Apellidos: $("#Apellidos").val(),
            Telefono: $("#Telefono").val(),
            User: $("#User").val(),
            IdTipoIdentificacion: $("#TipoIdentificacion").val(),
            IdPaisOrigen: $("#Pais").val(),
            Direccion: $("#Direccion").val(),
            Password: $("#Password").val(),
            NumeroIdentificacion: $("#NumeroIdentificacion").val()
        }

        if (obj.Nombres == '' || obj.Apellidos == '' || obj.Direccion == '' || obj.User == '' || obj.TipoIdentificacion == '' || obj.Pais == '' || obj.Direccion == '' || obj.Password == '' || obj.NumeroIdentificacion == '') {
            alert('Los campos con * son obligatorios');
        }
        else {
            _peticionAjax('@Url.Action("CrearUsuario", "Home")', JSON.stringify({ Solicitud: obj }), true,
                response => {
                    LimpiarCampos();
                    alert('Usuario creado');
                }
            );
        }
    }

    function LimpiarCampos() {
        $("#Nombres").val('');
        $("#Apellidos").val('');
        $("#Telefono").val('');
        $("#User").val('');
        $("#TipoIdentificacion").val('');
        $("#Pais").val('');
        $("#Direccion").val('');
        $("#Password").val('');
        $("#NumeroIdentificacion").val('');
    }
    </script>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-light mb-5 mt-5 rounded">
                <div class="bg-light mt-5">
                    <h1 class="h2 mt-4 text-primary">Registro de usuario</h1>
                    <form id="form">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="Nombres">Nombres</label>
                                <input id="Nombres" class="form-control" type="text" name="Nombres">
                                <label for="Telefono">Telefono</label>
                                <input id="Telefono" class="form-control" type="text" name="Telefono">
                                <label for="User">Nombre usuario</label>
                                <input id="User" class="form-control" type="text" name="User">
                                <label for="TipoIdentificacion">Tipo Documento</label>
                                <select id="TipoIdentificacion" class="form-control">
                                </select>
                                <label for="Pais">Pais</label>
                                <select id="Pais" class="form-control">
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="Apellidos">Apellidos</label>
                                <input id="Apellidos" class="form-control" type="text" name="Apellidos">
                                <label for="Direccion">Dirección</label>
                                <input id="Direccion" class="form-control" type="text" name="Direccion">
                                <label for="Password">Contraseña</label>
                                <input id="Password" class="form-control" type="password" name="Password">
                                <label for="NumeroIdentificacion">Número de documento de identidad</label>
                                <input id="NumeroIdentificacion" class="form-control" type="text" name="NumeroIdentificacion">
                            </div>
                        </div>
                        <div style="text-align:center">
                            <input id="Button" type="button" value="Crear usuario" class="btn btn-primary w-75 mt-5 mb-5" onclick="CrearUsuario()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
